html{
	height:100%;
	font-size: 62.5%;
}

body{
    font-size:1.6em;
	margin: 0;
	background: #eee;
	font-family:Arial;
	position:relative;
	min-height:100%;
	padding:0 22rem;
}
@media (max-width:999px){
    body{
        padding-right:0;
    }
}

@media (max-width:639px){
    body{
        padding-left:0;
    }
}

@media print{
    body{
        padding-left:0;
        padding-right:0;
        background: inherit;
    }
}


.group:after {
  content: "";
  display: table;
  clear: both;
}

.h-container{
    padding-top: 1em;
    text-align: center;
    padding: 0;
}

@media (min-width: 1000px){
    .h-container{
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        width:22rem;
        box-shadow: 0rem 0px .8rem 0px #888;
    }
}

.h-avatar{
    width:16rem;
    height:16rem;
    border-radius: 12rem;
    margin: 3rem 0 2.5rem;
}
.h-title{
    margin:0;
    padding: 0 0 1rem;
    text-align:center;
}
.container-fix{
    padding: 0 2rem;
    max-width:70rem;
    margin: auto;
}
@media print{
    .h-avatar{
        display:none;
    }
    .h-title{
        padding-top:6rem;
    }
    .container-fix{
        padding: 0;
    }
}
.b-title:before{
    content:'';
    position:absolute;
    top:.9rem;
    display:block;
    width:100%;
    border-top: 1px solid #ddd;
    z-index:-999;
}
.b-title{
    font-size:1.8rem;
    position:relative;
    margin:2rem .5rem;
    text-align:center;
}
.b-title-text{
    display:inline-block;
    background:#eee;
    min-width:33%;
}
@media print {
    .b-title-break  {page-break-before: always; padding-top:2rem; margin-bottom:0;}
    .b-title:before{display:none;}
    .b-title{
        margin:.8rem .5rem 0;
    }
    .b-title-text{
        background-color: transparent;
    }
}

.b-sub{
    background-color:#fff;
    margin: 0 auto 1.5rem;
    border-bottom: .3rem solid #ddd;
    border-radius: .3rem;
}
@media print {
    .b-sub{
        border:none;
        margin-bottom:0;
        margin-top: -.4rem;
    }
}
.b-sub-content > section> h2{
    font-size: 2rem;
}
.b-sub-content > section> h2 > a:hover{
    text-decoration: underline;
}
.b-sub-content > section> h2 > a{
    text-decoration: none;
    color:inherit;
}
.b-sub-content > ol,
.b-sub-content > ul{
    padding-left:5rem;
    padding-right:5rem;
}

.b-sub-skl{
    margin-left: .5rem;
    margin-right: .5rem;
}

.b-sub-title{
    font-size: 2.4rem;
    padding:2.8rem 0.6rem 0;
    margin:0 1.2rem 1.2rem;
}
.b-sub-title > a,
.a-title{
  color:#000;
    text-decoration: none;
}
.b-sub-icon{
    width: 6rem;
    height: 6rem;
    color: #fff;
    background-color: #ddd;
    border-radius: 100%;
    padding: 1.4rem;
    margin: 1rem;
    float:left;
    overflow: hidden
}
.b-sub-icon > img{
    width: 70%;
    margin: 15%;
}
.b-sub-icon-fill > img{
    width: 100%;
    margin: 0%;
}
.b-sub-icon-android{
    background-color: #A4C639;
}
.b-sub-icon-web{
    background-color: #39A4C6;
}
.b-sub-icon-tools{
    background-color: #DD1139;
}
.b-sub-icon-book{
    background-color: #DDDDDD;
}
.b-sub-icon-methodology{
    background-color: #DDA439;
}
.icon-star{
    height: 1.8rem;
    padding-bottom: .3rem;
    color: #888;
    fill: currentColor;
    vertical-align: text-bottom;
}
@media print{
    .b-subub-icon{
        padding-left: 0;
        padding-right: 0;
    }
}
@media(min-width:900px), (max-width:480px),  print{
    .b-sub-stars{
        display: block;
    }

    .skl-list {
        clear: left;
        text-align: center;
        margin: 0 1.6rem .8rem;
    }
}
@media(min-width:900px),   print{
    .b-2{
        width:50%;
        display: inline-block;
        float:left;
    }
    .b-1{
        clear:left;
    }
    .b-sub-title{
        padding-top: 1.6rem;
        margin-bottom: .2rem;
    }
    .b-sub-icon{
        width: 5rem;
        height: 5rem;
        padding: .6rem;
        margin: 1rem;
    }
    .icon-star{
    padding-bottom: .3rem;
    vertical-align: inherit;
}
}
.b-sub-title-small{
    padding-top: 1.6rem;
    margin-bottom: .2rem;
}
.b-sub-icon-small{
    width: 5rem;
    height: 5rem;
    padding: .6rem;
    margin: 1rem;
}
.b-sub-icon-fill{
    padding: 0rem;
}
.b-sub-title-job{
    font-size: 3.0rem;
    padding:  1.6rem .6rem .6rem 1.6rem
}
.b-sub-desc{
    margin: 0;
    font-size:1.4rem;
    text-align:left;
    color:#fff;
    font-weight:normal;
    font-style: normal;
    float:right;
    margin-top: 2.2rem;
    background-color: #888;
    color: #fff;
    padding: .4rem 1rem;
}
.b-sub-desc-date{
    font-weight: normal;
}
@media (max-width:800px){
    .b-sub-desc{
        text-align: center;
        margin: 0 auto;
        float: inherit;
    }
}
@media print{
    .b-sub-desc{
        text-align: inherit;
        float:right;
        margin-top: 2.2rem;
    }
}

.skl-list{
    list-style:none;
    padding:0;
}
.skl-list-first{
    margin-bottom:0;
}
.skl-list > li::after{
    content: ", "
}
.skl-list > li:last-child::after{
    content: "."
}
.skl-list > li{
    display: inline;
}
.skl-list-sep:before{
    content: "";
    display: block;
    border-top: .2rem dotted #eee;
    margin: .6rem 1.2rem;
}

.sl{
    display:inline-block;
    margin-top: .6rem;
    background-color:#bbb;
    background-color:rgba(0, 0, 0, .4);
    min-width: 12rem;
    max-width: 23rem;
    padding:1rem 1.3rem;
    color:#fff;
    text-decoration:none;
    border-radius:1rem;
    opacity:.9;
    box-shadow: 0 -.4rem 0  rgba(0, 0, 0, .15) inset;
}
.sl:hover, .sl:focus{
    outline: none;
    opacity:1;
}.sl:active{
    opacity:.8;
    box-shadow: 0 .2rem .1rem  rgba(0, 0, 0, .2) inset;
}
.sl-transparent{
    background-color:transparent;
    border:1px solid #dadada;
    box-shadow: none;
    color: #444;
}
.sl-twitter{
    background-color:#55acee;
}
.sl-github{
    background-color:#222;
}
.sl-stackoverflow{
    background-color:#777;
}
.sl-linkedin{
    background-color:#007bb6;
}
.sl-deviantart{
    background-color:#9eb1a3;
}
.sl-ulule{
    background-color:#00a6f0;
}
@media (min-width:1000px){
    .sl{
        display: block;
        margin:1rem auto;
        width:14rem;
    }
}
@media  (max-width:479px){
    .sl{
        display: block;
        margin:1rem auto;
    }
}
@media print{
    .sl-container{
        display:none;
    }
}

#side-nav{
    overflow-y: auto;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    width:22rem;
    background-color:rgba(244, 244, 244, .9);
    box-shadow: 0rem 0px .8rem 0px #888;
    transition: opacity .4s ease-in;
}
.sn-list-1,
.sn-list-2{
    list-style:none;
    padding:0;
    margin:0;
}
.sn-link-1,
.sn-link-2{
    display:block;
    padding: 0 2rem;
    color: #222;
    text-decoration:none;
}
.sn-link-1{
    background-color:#fff;
    padding: 1rem 2rem;
    border-bottom:.2rem solid #eaeaea;
    margin-bottom: .4rem;
    font-weight:700;
    font-size:2rem;
    color:#222;
}
.sn-link-1:focus,
.sn-link-1:hover{
    background-color:#eee;
}
.sn-link-2{
    padding: .8rem 4rem 0;
    min-height: 2.8rem;
}
.sn-link-2:focus,
.sn-link-2:hover{
    background-color:#ddd;
}
@media print{
#side-nav{
    display:none;
}
}
@media (max-width: 320px){
#side-nav{
    right:0;
    max-width:none;
}
}

.nav-bar{
    display: none;
}
.border-menu:focus,
.border-menu:hover{
    outline:none;
    opacity: .7;

}
.border-menu:active{
    opacity: 1;
}
.border-menu {
    position: relative;
    display: block;
    background:none;
    border: none;
    height:4.8rem;
    width:4.8rem;
    padding:0;
    opacity: .4;
}
.border-menu:before {
    content: "";
    position: absolute;
    top: 1rem;
    left: .7rem   ;
    width: 3rem;
    height: .5rem;
    border-top: 1.5rem double #000;
    border-bottom: .5rem solid #000;
}
@media print{
    #btn-menu {
        display: none;
    }
}
@media (max-width: 639px){
    #side-nav.close{
        opacity:0;
        visibility:hidden;
  transition: visibility 0s .4s, opacity .4s ease-in;
    }
    .nav-bar{
        display:block;
        position: fixed;
        top:0;
        left:0;
    }
    .sn-list-1{
        margin-top:4.8rem;
    }
}

.sw-container{
    text-align: center
}
.sw-container > img{
    margin: 1rem;
}

.qrcode{
    display: none;
}
@media print{
    .qrcode{
        display: block;
        position: absolute;
        margin: 3rem;
        height:12rem;
        width:12rem;
    }
    .qrcode-left{
        left: 0;
    }
    .qrcode-right{
        right: 0;
    }
}

.job{
    text-align:center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color:#fff;
    background-color: #fff;
    padding: 1.4rem 0;
    border-top: .2rem dotted #bbb;
    border-bottom: .2rem dotted #bbb;
}
.job-name{
    color:#666;
    font-size: 3.2rem;
    margin: 0 0 .2rem;
}
.job > em,
.job-date{
    position: relative;
    padding: .4rem 1rem;
}
.job > em{
    top: -2.4rem;
    background-color: #ddd;
}
.job-date{
    bottom: -2.4rem;
    background-color: #888;
}
@media print{
    .job{
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        border: none
    }
    .job > em,
    .job-date{
        position: inherit;
    }
}

@media print{
    .no-print{
        display: none;
    }
}

.footer{
    text-align: center;
    color: #444;
    margin: 1rem;
}
@media print{
    .footer{
        display: none;
    }
}

.link-tag:hover,
.link-tag:focus{
    background-color: #eee;
    background-color: rgba(128, 128, 128, .2);
}

.link-tag{
    padding: .2rem;
    font-weight: bold;
    text-decoration: none;
    color:#444;
    border-radius: .3rem;
}

.formation{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.loc-list{
    margin: .2rem 0;
    padding: 0;
}

.loc-item{
    display: inline-block;
    width:6rem;
    text-align: center;
    color: #888;
    font-size: .9em;
}

.loc-icon{
    display: block;
    margin: 1.2rem auto .4rem;
    width:4rem;
    height:4rem;
    fill: currentColor;
}

.space-hor{
    padding-left: 2rem;
    padding-right: 2rem;
}
.clr-left{
    clear: left;
}
.a-title-alone{
    display: block;
    padding-top: .6rem;
}
.dont-break{
    page-break-inside: avoid;
}
